#map_canvas{
  background:url(../images/kartta.png) no-repeat;
  position:relative;
}

.locationIcon {
  display:block;
  position:absolute;
  text-align:center;
  font-size:1.3em;
  font-weight:bold;
  color:white;
  height:33px;
  padding-top:0px;
}

.locationIcon img{
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
}

.locationIcon i{
  display:block;
  position:relative;
  font-style:normal;
  z-index:1;
}

.locationIcon.single, .locationIcon.special{
 width:38px; 
}

.locationIcon.single i{
  margin-left:-8px;
}

.locationIcon.special i{
  display:none;
}

.locationIcon.double{
 width:51px; 
}

.locationIcon.double i{
  margin-left:-6px;
}

.locationIcon.selected i{
  color:#08416E;
}

.locationIcon.selected.special i{
  color:#2EB900;
}
/*
.locationIcon:hover, .locationIcon.highlight {
 background:url(../image/location_icon_hover.png) no-repeat; 
}
*/

.location_select .location{
/*  background:#FFFF00;
  padding:5px;
  margin-left:10px;
*/
  cursor:pointer;
}

.location_select .location.selected{
  background:#FF0000;
}


#event-editing{
  display:none;
}

/* login/register form */


#logout-btn, #register-email .permission_info, #register-email, #login-email-dont-exist, #login-email-exist,#email-login-form, #email-login-form .register_info,.fb-register-notice,#fb-save-account-btn, #fb-login{
  display:none;
}

#events-calendar tr:nth-child(odd){
	background-color:#EFEFEF;
}


.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}